<%- include("header"); %>

<h1>Failed!</h1>

<div class="row" style="margin: 2rem">
  <div class="col-4" style="padding-right: 1rem; padding-bottom: 1rem">
    <%=doc.title%>
  </div>
  <div class="col-4" style="padding-right: 1rem; padding-bottom: 1rem">
    <%=doc.content%>
  </div>
  <div class="col-4" style="padding-right: 1rem; padding-bottom: 1rem">
    <%=err%>
  </div>
</div>
